<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10413951349-l8dpn450jmnflfbg1red4u7rk9s72m7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10413951349-l8dpn450jmnflfbg1red4u7rk9s72m7o</string>
	<key>API_KEY</key>
	<string>AIzaSyCkcTa87aeUUqIbC_xpxbJBv86R1H4t4I0</string>
	<key>GCM_SENDER_ID</key>
	<string>10413951349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-4f142</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-4f142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10413951349:ios:b7c8bc539aea289f8a6b3c</string>
</dict>
</plist>